@charset "utf-8";
/* CSS Document */
body {
	font-family:'Lucida Grande','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',Meiryo,メイリオ,sans-serif;
	background-color: #fff;
	font-size: 14px;
	margin: 0;
	padding: 0;
	}
#AS_Badge_box5{
	display: block;
	margin: auto;
}
#htkp2_h2{
	display: block;
	margin:20px 0;
}

h3{
	color:#FFF;
}
.center{
 text-align: center;
}
footer{
	height:70px;
	background-color: #006600;
	padding:4px;
}
.fb-like{
	float:left;
	margin-left: 12px;
}
.twitter-share-button{
	display: block;
	float:right;
}
small{
	text-align: center;
	display: block;
	margin:8px auto; 
	font-size: 12px;
	color: #fff;
}
#sns_btn{
	display: block;
	margin:8px auto;
}

/*clearfix*/
.cf:before,
.cf:after{
	content:" ";
	display:table;
	}
.cf:after{	
	clear:both;
}
.cf{
	*zoom:1;
	}