@charset "UTF-8";
/* CSS Document */
/* line 17, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
  -webkit-transition: 0.3s ease-in-out;
     -moz-transition: 0.3s ease-in-out;
       -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
}

/* line 116, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*フォントカラー*/
/*ベースフォントサイズ*/
/*１ユニットのサイズ*/
/*上で宣言した変数を使うので、必ず後に書く必要がある！*/
/* line 61, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
* html {
  font-size: 112.5%;
}

/* line 64, ../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 18px;
  line-height: 1.5em;
}

/* line 18, ../scss/style.scss */
body {
  font-family: "游ゴシック","YuGothic","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  background-color: white;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* line 25, ../scss/style.scss */
#container {
  width: 600px;
  margin: 0 auto;
  overflow: hidden;
  /*floatの解除ポイント*/
  position: relative;
  zoom: 1;
  /*IE6でレイアウト崩れを防ぐためのものです。*/
}
/* line 31, ../scss/style.scss */
#container :after {
  clear: both;
}

/* line 35, ../scss/style.scss */
#container_wrapper {
  display: block;
  width: 960px;
  height: 100%;
  margin: 0 auto;
  background-color: white;
  clear: both;
  border-left: solid 1px #cccccc;
  border-right: solid 1px #cccccc;
  overflow: hidden;
  /*floatの解除ポイント*/
  position: relative;
  zoom: 1;
  /*IE6でレイアウト崩れを防ぐためのものです。*/
  z-index: 1;
  padding-top: 80px;
}

/* logo */
/* line 52, ../scss/style.scss */
#logo {
  float: left;
  position: relative;
  top: 10px;
  left: 46px;
}

/* header */
/* line 60, ../scss/style.scss */
header {
  width: 100%;
  height: 79px;
  border-bottom: solid 1px #cccccc;
  background-color: white;
  z-index: 2;
  position: fixed;
  top: 0;
}
/* line 68, ../scss/style.scss */
header div {
  width: 960px;
  margin: 0 auto;
  height: 80px;
}
/* line 73, ../scss/style.scss */
header div nav ul {
  display: block;
  position: relative;
  top: 0px;
  left: 40px;
}
/* line 78, ../scss/style.scss */
header div nav ul li {
  float: left;
  text-align: center;
  list-style-type: none;
  margin: 28px 0 0 30px;
}
/* line 83, ../scss/style.scss */
header div nav ul li:first-child {
  margin-left: 60px;
}
/* line 86, ../scss/style.scss */
header div nav ul li a {
  color: #999;
  display: block;
  font-size: 14px;
  text-decoration: none;
}
/* line 91, ../scss/style.scss */
header div nav ul li a:hover {
  color: #222;
  display: block;
  font-size: 14px;
  text-decoration: none;
}

/* line 104, ../scss/style.scss */
#fb_link {
  margin: 17px 0px 0px 217px;
}

/* TOP */
/* line 108, ../scss/style.scss */
#top_areaA {
  width: 920px;
  height: 655px;
  margin: 0 auto 10px;
  background-color: white;
}
/* line 113, ../scss/style.scss */
#top_areaA .text {
  float: left;
  width: 440px;
  height: 174px;
  margin: 70px 0px 0px 40px;
}
/* line 119, ../scss/style.scss */
#top_areaA .screenshot {
  float: right;
  width: 211px;
  height: 448px;
  margin: 40px 70px 0px 0px;
}

/* line 126, ../scss/style.scss */
#left_areaA {
  float: left;
  position: relative;
  top: 160px;
  left: 30px;
}
/* line 131, ../scss/style.scss */
#left_areaA h1 {
  color: #C36;
  font-size: 22px;
  margin: 0px 0 0 73px;
  text-align: center;
}

/* line 137, ../scss/style.scss */
#right_areaA {
  float: right;
  /* レイアウト用 */
}

/* line 140, ../scss/style.scss */
#top_areaB {
  width: 920px;
  height: 525px;
  margin: 0 auto;
}

/* line 145, ../scss/style.scss */
#top_news {
  width: 920px;
  height: auto;
  margin: 0 auto 30px;
  background-color: white;
  padding: 0px;
  border: 1px solid #cccccc;
}
/* line 152, ../scss/style.scss */
#top_news p {
  color: #C36;
  font-weight: bold;
  padding: 10px 18px;
}
/* line 156, ../scss/style.scss */
#top_news p a {
  color: #f5aab9;
  font-size: 13px;
  font-weight: normal;
}

/* line 163, ../scss/style.scss */
#top_news table {
  color: #666666;
  font-size: 14px;
  margin-left: 20px;
}
/* line 167, ../scss/style.scss */
#top_news table td {
  padding: 0 6px 10px 0px;
  color: #666666;
  font-size: 14px;
}
/* line 171, ../scss/style.scss */
#top_news table td a {
  color: #666666;
  font-size: 14px;
  text-decoration: none;
}

/* line 178, ../scss/style.scss */
.category {
  width: 120px;
}

/* line 181, ../scss/style.scss */
.detail {
  width: 500px;
}

/* line 184, ../scss/style.scss */
.LOGO {
  float: left;
  padding: 29px 0 0 30px;
}

/* line 188, ../scss/style.scss */
.AppStoreBadge {
  margin: 250px 0 0 80px;
}
/* line 190, ../scss/style.scss */
.AppStoreBadge span {
  margin-left: 2px;
  color: #666666;
  font-size: 11px;
}

/* line 196, ../scss/style.scss */
.phone {
  position: relative;
  top: 24px;
  left: -30px;
  width: 356px;
  height: 750px;
  background: url(../img/phone_03.png) no-repeat;
}

.slideshow{
  position: relative;
  top:94px;
  left:30px;
}
/* img要素は絶対配置で一か所に重ねる */
.slideshow img{
  position:absolute;
  top:0;
  left:0;
}
/* 2番目以降のimg要素にclass="alt"を付け、消す */
.slideshow img.alt{
  display:none;
}

body #container_wrapper ul{
  margin:30px 0 0 20px;
  overflow: hidden;
  display: inline-block;;
}
body #container_wrapper dd ul{
  margin: 0px;
  overflow: hidden;
}
body #container_wrapper ul li{
  float: left;
}
body #container_wrapper dd ul li{
  clear: both;
}
.twitter-timeline{
  width: 600px;
  margin-left: 20px;
}

/* line 232, ../scss/style.scss */
#banner_box {
  overflow: hidden;
  float: right;
  width: 300px;
}

/* line 237, ../scss/style.scss */
#orange_banner, #yellow_banner, #green_banner {
  display: block;
  float: right;
  margin: 10px 20px 0px 0px;
}

/* line 245, ../scss/style.scss */
#green_banner {
  margin: 35px 20px 0px 0px;
}

/* news */
/* line 256, ../scss/style.scss */
.news h1 {
  color: #ff7d04;
  margin: 20px 0px 20px 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}
/* line 263, ../scss/style.scss */
.news h3 {
  color: #666666;
  margin: 20px 0;
  font-size: 14px;
  text-decoration: none;
}
/* line 270, ../scss/style.scss */
.news ul li {
  margin: 10px 0 0 10px;
}

/* line 277, ../scss/style.scss */
#txt_box p a {
  color: #f5aab9;
}
/* line 283, ../scss/style.scss */
#txt_box ul a {
  color: #f5aab9;
}

/* line 288, ../scss/style.scss */
#Gmap {
  margin-top: 50px;
}
/* line 290, ../scss/style.scss */
#Gmap a {
  color: #666666;
  font-size: 12px;
}

/* line 295, ../scss/style.scss */
.coyomee h1 {
  color: #f00064;
  margin: 20px 0px 20px 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* line 302, ../scss/style.scss */
.creator h1 {
  padding: 10px 0;
}
/* line 304, ../scss/style.scss */
.creator h1 a {
  color: #28aae6;
  margin: 0px 0px 0px 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* line 312, ../scss/style.scss */
.recruit h1 {
  color: #f5c800;
  font-size: 16px;
  font-weight: bold;
  padding: 20px 0 20px 0;
}

/* line 318, ../scss/style.scss */
.inquiry h1 {
  color: #910a82;
  margin: 20px 0px 20px 10px;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
}

/* content */
/* line 327, ../scss/style.scss */
#content {
  float: right;
  border-radius: 3px 3px 3px 3px;
  width: 600px;
  background-color: white;
  padding-top: 10px;
}
/* line 333, ../scss/style.scss */
#content:after {
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
}
/* line 339, ../scss/style.scss */
#content .day {
  margin: 30px 40px 30px 0;
  text-align: right;
}

/* line 344, ../scss/style.scss */
.center_position {
  margin: 0 auto;
  padding: 0;
  border-radius: 3px 3px 3px 3px;
  width: 600px;
  background-color: white;
}

/* #content .creator */
/* line 353, ../scss/style.scss */
#creator {
  margin: 0 auto;
  width: 800px;
}
/* line 356, ../scss/style.scss */
#creator h1 {
  padding: 40px 0 30px;
  font-size: 16px;
  font-weight: bold;
  color: #28aae6;
}
/* line 362, ../scss/style.scss */
#creator img {
  margin: 12px;
}

#creator a:hover img {
  opacity: 0.6;
}

/* #content .portfolio */
/* line 368, ../scss/style.scss */
.portfolio_txt {
  float: right;
  width: 300px;
  margin: 6px 40px 0 0;
}
/* line 372, ../scss/style.scss */
.portfolio_txt a {
  color: #888;
  font-size: 13px;
  text-decoration: none;
}

/* line 379, ../scss/style.scss */
.portfolio img {
  float: left;
  margin: 20px 0 0 26px;
}
/* line 383, ../scss/style.scss */
.portfolio h2 {
  color: #666666;
  font-size: 20px;
  margin: 26px 0;
}
/* line 388, ../scss/style.scss */
.portfolio p {
  color: #888;
  font-size: 12px;
  width: 300px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-decoration: none;
}

/* line 397, ../scss/style.scss */
#clndr {
  margin: 0;
}
/* line 399, ../scss/style.scss */
#clndr img {
  margin: 8px 10px;
  float: left;
}

/* line 404, ../scss/style.scss */
#seal {
  margin: 6px 0 0 0;
}
/* line 406, ../scss/style.scss */
#seal img {
  width: 100px;
  margin: 0;
}

/* line 411, ../scss/style.scss */
.news p {
  font-size: 14px;
  margin-top: 16px;
}

/* line 415, ../scss/style.scss */
#txt_box {
  width: 580px;
  padding: 60px 0 40px 0;
  margin: 0px auto;
}
/* line 419, ../scss/style.scss */
#txt_box h2 {
  color: #666666;
}
/* line 422, ../scss/style.scss */
#txt_box p {
  color: #777;
  font-size: 14px;
}
/* line 426, ../scss/style.scss */
#txt_box .day {
  text-align: right;
  margin-right: 30px;
}

/* line 431, ../scss/style.scss */
#dot {
  text-align: center;
  padding: 30px 0;
  font-size: 10px;
  color: #ff7d04;
  letter-spacing: 25px;
}

/* line 438, ../scss/style.scss */
.cmp_info {
  color: #666666;
  font-size: 14px;
}
/* line 441, ../scss/style.scss */
.cmp_info dt {
  clear: both;
  float: left;
  width: 100px;
  margin: 10px;
}
/* line 447, ../scss/style.scss */
.cmp_info dd {
  border-bottom: 1px solid #cccccc;
  padding: 10px 0 10px 120px;
}
/* line 450, ../scss/style.scss */
.cmp_info dd a {
  color: #f5aab9;
}

/* term */
/* line 457, ../scss/style.scss */
.term h2 {
  color: #cc3366;
  margin: 10px;
  font-weight: bold;
}
/* line 462, ../scss/style.scss */
.term h3 {
  font-size: 14px;
  color: #666666;
  padding: 50px 0px 10px 0px;
}
/* line 467, ../scss/style.scss */
.term h4 {
  margin: 10px 0px;
  font-size: 13px;
  color: #777;
}
/* line 472, ../scss/style.scss */
.term p {
  color: #999;
  font-size: 13px;
  list-style: 1.4em;
}
/* line 476, ../scss/style.scss */
.term p a {
  color: #f5aab9;
  font-size: 13px;
  line-height: 1.4;
}
/* line 482, ../scss/style.scss */
.term li {
  color: #999;
  font-size: 13px;
  margin-top: 3px;
}
/* line 487, ../scss/style.scss */
.term dl {
  margin-top: 10px;
}
/* line 490, ../scss/style.scss */
.term dt {
  color: #999;
  font-size: 12px;
  clear: both;
  float: left;
  width: 125px;
  border-top: 1px solid #cccccc;
  padding: 16px 0px 16px 0px;
}
/* line 499, ../scss/style.scss */
.term dd {
  color: #999;
  font-size: 12px;
  border-top: 1px solid #cccccc;
  padding: 16px 0 16px 66px;
  margin-left: 100px;
  line-height: 1.5;
}
/* line 507, ../scss/style.scss */
.term ol {
  margin: 10px 0 12px 40px;
}
/* line 510, ../scss/style.scss */
.term ul {
  list-style-type: disc;
  margin: 10px 0 0 40px;
}
/* line 514, ../scss/style.scss */
.term img {
  margin: 10px;
  vertical-align: middle;
}

/* company */
/* line 521, ../scss/style.scss */
#chapter_01 {
  margin: 0 10px 0 10px;
}
/* line 523, ../scss/style.scss */
#chapter_01 ol {
  margin-left: 18px;
}

/* line 527, ../scss/style.scss */
#chapter_02 {
  margin: 0 10px 0 10px;
}
/* line 529, ../scss/style.scss */
#chapter_02 ol {
  margin-left: 18px;
}
/* line 532, ../scss/style.scss */
#chapter_02 ul {
  list-style-type: none;
  margin: 10px 0;
}

/* line 537, ../scss/style.scss */
#chapter_03 {
  margin: 0 10px 0 10px;
}
/* line 539, ../scss/style.scss */
#chapter_03 ol {
  margin-left: 18px;
}
/* line 542, ../scss/style.scss */
#chapter_03 ul {
  list-style-type: none;
  text-indent: -23px;
  margin-left: 20px;
}

/* line 548, ../scss/style.scss */
#chapter_04 {
  margin: 0 10px 0 10px;
}
/* line 550, ../scss/style.scss */
#chapter_04 ol {
  margin-left: 18px;
}
/* line 553, ../scss/style.scss */
#chapter_04 ul {
  list-style-type: none;
  text-indent: -23px;
}

/* line 558, ../scss/style.scss */
#chapter_05 {
  margin: 0 10px 0 10px;
}
/* line 560, ../scss/style.scss */
#chapter_05 ul {
  margin: 10px 0 10px 20px;
  list-style-type: none;
  text-indent: -23px;
}
/* line 565, ../scss/style.scss */
#chapter_05 ol {
  margin-left: 18px;
}

/* line 569, ../scss/style.scss */
#chapter_06 {
  margin: 0 10px 0 10px;
}
/* line 571, ../scss/style.scss */
#chapter_06 ol {
  margin-left: 18px;
}

/* line 575, ../scss/style.scss */
#mail {
  margin: -3px 0px 0 0;
}

/* line 578, ../scss/style.scss */
.company h1 {
  color: #bed200;
  padding: 20px 0;
  font-size: 16px;
  font-weight: bold;
}

/* footer */
/* line 587, ../scss/style.scss */
footer {
  background-color: white;
  margin: 0 auto;
  width: 960px;
  border-left: 1px #cccccc solid;
  border-right: 1px #cccccc solid;
}
/* line 594, ../scss/style.scss */
footer small {
  font-size: 13px;
  color: #999;
  width: 280px;
  margin: 0 auto;
  display: block;
  padding: 30px 0;
}
footer div{
  display: block;
  margin:0 auto;
  width:300px;
}
footer #AS_Badge_box5{
  display: inline-block;
  float:none;
  padding:0 0 0 0;
  margin:0 auto;
}
footer #QR_box5{
  display: inline-block;
  float:none;
  padding:0 0 0 0;
  margin:0 auto;
}
/* line 603, ../scss/style.scss */
#footer_content {
  text-align: right;
  width: 100px;
  float: right;
  padding-right: 20px;
}
/* line 609, ../scss/style.scss */
#footer_content a {
  color: #999;
  font-size: 13px;
  text-decoration: blink;
  margin: auto;
  line-height: 1.6;
}

/* recruit */
/* line 619, ../scss/style.scss */
.recruit_txt dt {
  color: #666666;
  font-size: 12px;
  clear: both;
  float: left;
  width: 120px;
  padding: 16px 0 0px 10px;
  line-height: 1.4;
}
/* line 628, ../scss/style.scss */
.recruit_txt dd {
  color: #666666;
  font-size: 12px;
  padding: 16px 0 16px 130px;
  line-height: 1.5;
  border-bottom: 1px solid #cccccc;
}
/* line 634, ../scss/style.scss */
.recruit_txt dd a {
  color: #f5aab9;
}
/* line 637, ../scss/style.scss */
.recruit_txt dd ul {
  margin-top: 10px;
}

/* line 642, ../scss/style.scss */
.recruit img {
  display: block;
  margin: 40px auto 20px;
}

/* inquiry form */
/* line 647, ../scss/style.scss */
#inquiry {
  font-size: 15px;
  text-align: left;
  margin: 0 7px;
}
/* line 651, ../scss/style.scss */
#inquiry fieldset {
  border: 1px solid #cccccc;
  padding: 18px 18px;
  margin: 12px 3px;
}
/* line 655, ../scss/style.scss */
#inquiry fieldset div {
  padding: 5px;
}
/* line 659, ../scss/style.scss */
#inquiry em {
  color: black;
  font-style: normal;
  font-size: 10px;
  margin-left: 10px;
}
/* line 667, ../scss/style.scss */
#inquiry form p a {
  color: #f5aab9;
}
/* line 672, ../scss/style.scss */
#inquiry h2 {
  color: #ff7d0a;
  font-size: 15px;
  font-weight: bold;
  margin: 10px 0;
}
/* line 678, ../scss/style.scss */
#inquiry #detail {
  padding: 4px 2px 2px 4px;
  color: #666666;
  font-family: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", "Osaka", "ＭＳ Ｐゴシック", "MS PGothic", "sans-serif";
  width: 500px;
}
/* line 684, ../scss/style.scss */
#inquiry legend {
  color: #ff7d0a;
  font-weight: bold;
}
/* line 688, ../scss/style.scss */
#inquiry p {
  color: #555;
  font-size: 12px;
  margin: 0px 0 10px 0;
  line-height: 1.5;
}

/* line 694, ../scss/style.scss */
#inquiry .label {
  color: #555;
  font-size: 13px;
}
/* line 698, ../scss/style.scss */
#inquiry .reqire {
  color: red;
  font-size: x-small;
}
/* line 702, ../scss/style.scss */
#inquiry .error {
  font-size: 14px;
  font-weight: bold;
  color: red;
}
/* line 707, ../scss/style.scss */
#inquiry #ssl_seal {
  width: 100px;
  height: 50px;
  float: right;
}
/* line 712, ../scss/style.scss */
#inquiry strong {
  font-size: 12px;
  color: red;
  font-style: normal;
}
/* line 717, ../scss/style.scss */
#inquiry td {
  border-collapse: collapse;
  empty-cells: show;
  padding: 9px;
  border-top: 1px solid #cccccc;
  color: #666666;
  font-size: 14px;
}
/* line 724, ../scss/style.scss */
#inquiry td #email {
  color: red;
  font-size: 15px;
  line-height: 1.2;
}
/* line 729, ../scss/style.scss */
#inquiry td .noborder {
  border-style: none;
  text-align: left;
}
/* line 734, ../scss/style.scss */
#inquiry th {
  background-color: white;
  border-collapse: collapse;
  empty-cells: show;
  font-size: 14px;
  color: #666666;
  padding: 9px;
  text-align: center;
  vertical-align: top;
  width: 144px;
  border-top: 1px solid #cccccc;
  table-layout: fixed;
}

/* line 748, ../scss/style.scss */
#ssl_txt {
  float: left;
  width: 444px;
}

/* line 752, ../scss/style.scss */
#ss_img {
  float: left;
  width: 100px;
  height: 50px;
}

/* line 758, ../scss/style.scss */
#confirm_table th {
  width: 100px;
}
/* line 762, ../scss/style.scss */
#confirm_table td #detail {
  width: 100px;
  table-layout: fixed;
  word-wrap: break-word;
}
/* line 767, ../scss/style.scss */
#confirm_table td .noborder {
  border-style: none;
  text-align: left;
}

/* offer */
/* line 775, ../scss/style.scss */
#offer {
  font-size: 14px;
  margin: 0 7px;
}
/* line 778, ../scss/style.scss */
#offer #detail {
  padding: 4px 2px 2px 4px;
  color: #666666;
}
/* line 782, ../scss/style.scss */
#offer h2 {
  color: #bed200;
  font-size: 15px;
  margin: 20px;
  font-weight: bold;
}
/* line 788, ../scss/style.scss */
#offer h3 {
  color: #bed200;
  font-size: 15px;
  margin: 34px 0 10px 10px;
  font-weight: bold;
}
/* line 794, ../scss/style.scss */
#offer p {
  color: #666666;
  font-size: 13px;
  margin: 10px 0 40px 20px;
  line-height: 1.5;
}
/* line 800, ../scss/style.scss */
#offer fieldset {
  border: 1px solid #cccccc;
  padding: 18px 18px;
  margin: 12px 3px;
}
/* line 805, ../scss/style.scss */
#offer em {
  color: black;
  font-style: normal;
  font-size: 10px;
  margin-left: 10px;
}
/* line 813, ../scss/style.scss */
#offer form p a {
  color: #f5aab9;
}
/* line 818, ../scss/style.scss */
#offer fieldset {
  padding: 5px;
}
/* line 821, ../scss/style.scss */
#offer li {
  line-height: 1.5;
}
/* line 824, ../scss/style.scss */
#offer legend {
  color: #910a82;
  font-weight: bold;
}
/* line 828, ../scss/style.scss */
#offer strong {
  font-size: 12px;
  color: red;
  font-style: normal;
}
/* line 833, ../scss/style.scss */
#offer .label {
  color: #555;
  font-size: 13px;
}
/* line 837, ../scss/style.scss */
#offer .require {
  color: red;
  font-size: x-small;
}
/* line 841, ../scss/style.scss */
#offer .error {
  font-size: 14px;
  color: red;
}
/* line 845, ../scss/style.scss */
#offer #ssl_seal {
  float: right;
}
/* line 848, ../scss/style.scss */
#offer td {
  border-collapse: collapse;
  empty-cells: show;
  padding: 9px;
  border-top: 1px solid #cccccc;
  font-size: 14px;
  color: #666666;
  width: inherit;
}
/* line 856, ../scss/style.scss */
#offer td #email {
  color: red;
  font-size: 15px;
  line-height: 1.2;
}
/* line 861, ../scss/style.scss */
#offer td .noborder {
  border-style: none;
  text-align: left;
}
/* line 866, ../scss/style.scss */
#offer th {
  background-color: white;
  border-collapse: collapse;
  empty-cells: show;
  font-size: 14px;
  color: #666666;
  padding: 11px;
  text-align: center;
  vertical-align: top;
  border-top: 1px solid #cccccc;
  display: block;
}
/* line 878, ../scss/style.scss */
#offer img {
  display: block;
  margin: 0 auto 20px;
}

/* line 883, ../scss/style.scss */
.offer_txt {
  color: #666666;
  font-size: 13px;
  margin: 20px 0 40px 20px;
}
/* line 887, ../scss/style.scss */
.offer_txt dt {
  padding: 10px 0px 10px 10px;
  width: 100px;
  float: left;
  clear: both;
}
/* line 893, ../scss/style.scss */
.offer_txt dd {
  margin-right: 10px;
  padding: 10px 0px 10px 112px;
  border-bottom: 1px solid #cccccc;
  line-height: 1.5;
}
/* line 899, ../scss/style.scss */
.offer_txt li {
  text-indent: -13px;
}
/* line 901, ../scss/style.scss */
.offer_txt li:first-child {
  border-top: 1px solid white;
}

/* line 906, ../scss/style.scss */
.form_caution {
  border: solid 1px red;
  display: block;
  width: 560px;
  font-size: 15px;
  padding: 10px;
  color: red;
}
/* line 913, ../scss/style.scss */
.form_caution span {
  font-weight: bold;
  display: block;
  margin: 8px 10px 12px 10px;
}
/* line 919, ../scss/style.scss */
.form_caution ul li {
  margin-left: 10px;
  font-size: 14px;
}

/* line 925, ../scss/style.scss */
#ssl_seal {
  width: 100px;
  height: 50px;
  float: right;
}

/* line 930, ../scss/style.scss */
#ssl_txt {
  float: left;
  width: 436px;
}

/* line 934, ../scss/style.scss */
#ss_img {
  float: left;
  width: 100px;
  height: 50px;
}

/* line 939, ../scss/style.scss */
#btn {
  padding: 40px 0 20px 100px;
}

/* line 942, ../scss/style.scss */
.btn_check {
  display: block;
  margin: 10px auto;
}

/* landing */
/* line 947, ../scss/style.scss */
#point_box {
  width: 790px;
  height: 450px;
  margin: 20px auto 30px;
}
/* line 951, ../scss/style.scss */
#point_box img {
  margin: 10px 14px 0;
}

/* line 955, ../scss/style.scss */
#point1 {
  display: block;
  float: left;
}

/* line 959, ../scss/style.scss */
#point2 {
  display: block;
  float: left;
}

/* line 963, ../scss/style.scss */
#point3 {
  display: block;
  float: left;
}

/* line 967, ../scss/style.scss */
#box1_section {
  margin-top: 30px;
}

/* line 970, ../scss/style.scss */
#box1 {
  width: 100%;
  height: auto;
}
/* line 973, ../scss/style.scss */
#box1 img {
  display: block;
  margin: 0 auto;
}

/* line 978, ../scss/style.scss */
#box2 {
  width: 920px;
  height: 576px;
  background-color: #f4aab9;
  margin: 0 auto 10px;
}

/* line 984, ../scss/style.scss */
#box2_img {
  display: block;
  position: relative;
  bottom: 0;
  float: right;
}

/* line 990, ../scss/style.scss */
#box2_txt {
  color: white;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  top: 230px;
  left: 50px;
  width: 400px;
}
/* line 998, ../scss/style.scss */
#box2_txt p {
  font-size: 14px;
  font-weight: normal;
}

/* line 1003, ../scss/style.scss */
#box2_h1 {
  display: block;
  padding: 22px 0;
}

/* line 1007, ../scss/style.scss */
#box3 {
  width: 920px;
  height: 576px;
  margin: 0 auto 10px;
  background-color: #cc3366;
}

/* line 1014, ../scss/style.scss */
#box3_img {
  display: block;
  position: relative;
  bottom: 0;
  float: left;
}

/* line 1020, ../scss/style.scss */
#box3_txt {
  color: white;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  top: 230px;
  right: 52px;
  width: 334px;
  float: right;
}

/* line 1030, ../scss/style.scss */
#box3_h1 {
  display: block;
  padding: 22px 0;
}

/* line 1034, ../scss/style.scss */
#box4 {
  width: 920px;
  height: 576px;
  margin: 0 auto 10px;
  background-color: #f4aab9;
}

/* line 1040, ../scss/style.scss */
#box4_gif {
  position: relative;
  top: 109px;
  right: -564px;
  z-index: 2;
}

/* line 1046, ../scss/style.scss */
#box4_img {
  display: block;
  position: relative;
  bottom: 0;
  float: right;
  z-index: 1;
}

/* line 1053, ../scss/style.scss */
#box4_txt {
  color: white;
  font-size: 14px;
  line-height: 18px;
  position: relative;
  top: -162px;
  left: 50px;
  width: 400px;
}
/* line 1061, ../scss/style.scss */
#box4_txt p {
  text-decoration: none;
}

/* line 1066, ../scss/style.scss */
#box4_h1 {
  display: block;
  padding: 22px 0;
}

/* line 1070, ../scss/style.scss */
#tokkyo-syutugan {
  text-decoration: none;
  margin-top: 10px;
  color: #666666;
}

/* line 1075, ../scss/style.scss */
#box5 {
  height: 144px;
  margin-bottom: 10px;
}

/* line 1079, ../scss/style.scss */
#AS_Badge_box5 {
  display: block;
  float: left;
  padding: 40px 10px 0 0;
}

/* line 1084, ../scss/style.scss */
#QR_box5 {
  display: block;
  padding-top: 40px;
  float: left;
}

/* line 1089, ../scss/style.scss */
#logo_lovely {
  display: block;
  float: left;
  padding: 40px 12px 0 228px;
}

/* 〜〜〜help〜〜〜 */
/* help1 */
/* line 1096, ../scss/style.scss */
.help1-txt {
  margin-top: 10px;
  float: right;
  width: 325px;
}

/* line 1102, ../scss/style.scss */
#help1 li {
  display: block;
  height: 30px;
  color: #666666;
  font-size: 13px;
  padding: 20px 0 45px 78px;
}
/* line 1109, ../scss/style.scss */
#help1 h1 {
  padding: 20px 0;
  font-size: 16px;
  line-height: 1.4;
  color: #910a82;
  font-weight: bold;
}
/* line 1116, ../scss/style.scss */
#help1 h2 {
  padding: 40px 0 16px 0;
  font-size: 14px;
  color: #666666;
}

/* line 1122, ../scss/style.scss */
#help1_img {
  float: left;
}

/* line 1125, ../scss/style.scss */
.help1-1 {
  background: url(../img/help1_01.png) no-repeat;
}

/* line 1128, ../scss/style.scss */
.help1-2 {
  background: url(../img/help1_02.png) no-repeat;
}

/* line 1131, ../scss/style.scss */
.help1-3 {
  background: url(../img/help1_03.png) no-repeat;
}

/* line 1134, ../scss/style.scss */
.help1-4 {
  background: url(../img/help1_04.png) no-repeat;
}

/* line 1137, ../scss/style.scss */
.help1-5 {
  background: url(../img/help1_05.png) no-repeat;
}

/* help2 */
/* line 1141, ../scss/style.scss */
.help2-txt {
  margin-top: 10px;
  float: right;
  width: 323px;
}

/* line 1147, ../scss/style.scss */
#help2 li {
  display: block;
  height: 30px;
  color: #666666;
  font-size: 13px;
  padding: 24px 0 35px 78px;
}
/* line 1154, ../scss/style.scss */
#help2 h2 {
  padding: 40px 0 16px 0;
  font-size: 14px;
  color: #666666;
}
/* line 1159, ../scss/style.scss */
#help2 h2 {
  padding: 40px 0 16px 0;
  font-size: 14px;
  color: #666666;
}

/* line 1165, ../scss/style.scss */
#help2_img {
  float: left;
}

/* line 1168, ../scss/style.scss */
.help2-1 {
  background: url(../img/help2_01.png) no-repeat;
}

/* line 1171, ../scss/style.scss */
.help2-2 {
  background: url(../img/help2_02.png) no-repeat;
}

/* line 1174, ../scss/style.scss */
.help2-3 {
  background: url(../img/help2_03.png) no-repeat;
}

/* line 1177, ../scss/style.scss */
.help2-4 {
  background: url(../img/help2_04.png) no-repeat;
}

/* line 1180, ../scss/style.scss */
.help2-5 {
  background: url(../img/help2_05.png) no-repeat;
}

/* line 1183, ../scss/style.scss */
.help2-6 {
  background: url(../img/help2_06.png) no-repeat;
}

/* line 1186, ../scss/style.scss */
.help2-7 {
  background: url(../img/help2_07.png) no-repeat;
}

/* help3 */
/* line 1190, ../scss/style.scss */
.help3-txt {
  margin-top: 10px;
  float: right;
  width: 323px;
}

/* line 1196, ../scss/style.scss */
#help3 li {
  display: block;
  height: 30px;
  color: #666666;
  font-size: 13px;
  padding: 25px 0 35px 78px;
}
/* line 1203, ../scss/style.scss */
#help3 h2 {
  padding: 40px 0 16px 0;
  font-size: 14px;
  color: #666666;
}

/* line 1209, ../scss/style.scss */
#help3_img {
  float: left;
}

/* line 1212, ../scss/style.scss */
.help3-1 {
  background: url(../img/help3_01.png) no-repeat;
}

/* line 1215, ../scss/style.scss */
.help3-2 {
  background: url(../img/help3_02.png) no-repeat;
}

/* line 1218, ../scss/style.scss */
.help3-3 {
  background: url(../img/help3_03.png) no-repeat;
}

/* ~~ float/clear クラス ~~ */
/* line 1222, ../scss/style.scss */
.fltrt {
  /* このクラスを使用すると、ページ内でエレメントを右にフローティングさせることができます。フローティングさせるエレメントは、ページ内で横に並べて表示するエレメントの前に指定する必要があります。 */
  margin-left: 8px;
  text-indent: -18px;
}

/* line 1226, ../scss/style.scss */
.fltlft {
  /* このクラスを使用すると、ページ内でエレメントを左にフローティングさせることができます。フローティングさせるエレメントは、ページ内で横に並べて表示するエレメントの前に指定する必要があります。 */
  float: left;
  margin-right: 8px;
}

/* line 1230, ../scss/style.scss */
.clearfloat {
  /* このクラスは、#footer が #container から削除されているか取り出されている場合に、<br /> または空の div で、フローティングさせる最後の div に続く最後のエレメントとして (#container 内に) 配置できます。 */
  clear: both;
  height: 0;
  font-size: 1px;
  line-height: 0px;
}

/*clearfix*/
/* line 1239, ../scss/style.scss */
.cf:before,
.cf:after {
  content: " ";
  display: table;
}

/* line 1243, ../scss/style.scss */
.cf:after {
  clear: both;
}

/* line 1246, ../scss/style.scss */
.cf {
  *zoom: 1;
}

/* line 1249, ../scss/style.scss */
hr {
  color: white;
  margin: 20px 0;
}

/* コンテンツが少ない時用 */
/* line 1255, ../scss/style.scss */
.hi_800 {
  height: 800px;
}
