$test: #4affff;

.test{
	border : 1px solid $test;
	// height : 1rem;
	color  : black;
}

//-------------------
// トップページ
//-------------------

.cb-top{
	// height           : 80px;
	// background-color : red;
	// color            : white;

	h1{
		color : black;
	}

	//レイアウト
	.container{
		padding : rem-calc(10);
	}

	.cb-view{
		height  : rem-calc(300);
		padding : 0;

		@media #{$medium-up} {
			height : rem-calc(210);
		}
	}

	.cb-source{
		// height:rem-calc(300);
	}
}
