$test: #4affff;

.test{
	border : 1px solid $test;
	// height : 1rem;
	color  : black;
}

//-------------------
// 共通
//-------------------



//-------------------
// トップページ
//-------------------

.cb-top{
	// height           : 80px;
	// background-color : red;
	// color            : white;

	h1{
		color : black;
	}
	h2{
		font-size: rem-calc(14);
	}
	pre{
		padding:rem-calc(30);
		color:$charcoal;
		font: 14px/1.6 monaco,monospace;
		overflow-x: auto;
		@include border-radius;
		border: 1px solid red;
		background-color: $jet;

		&>code{
			font: inherit;
			background-color: $jet;
			border-color: $jet;
			color: $ghost;
		}
	}

	//レイアウト
	.container{
		padding : rem-calc(10);

		.wrap{
			margin-bottom: 10px;
		}
	}
	.cb-view{
		height:80%;
	}
	.cb-view-wrap{
		padding: rem-calc(2);
		// max-height : rem-calc(300);
		// min-height : rem-calc(300);
		// padding : 0;
		h2{
			position: absolute;
			bottom: 0;
		}
		// @media #{$medium-up} {
		// 	height : rem-calc(210);
		// }
	}

	.cb-source{
		// height:rem-calc(300);
	}


}
