//-------------------
// 変数
//-------------------

$test: #4affff;

//-------------------
// 共通
//-------------------

.test{
	border : 1px solid $test;
	color  : black;
}

.height{
	height : 10rem;
}

//-------------------
// トップページ
//-------------------

.coyo-top{

	header{
		h1{
			display : inline-block;
		}
	}

	nav{
		li{
			float       : left;
			margin-left : 20px;
			margin-top  : 20px;
		}
	}

	.coyo-bar{

	}

	.coyo-news{

	}

	// メインコンテンツ
	//**********************
	.content-wrapper{

		.p-highlight{
		background-position : center center;
		background-size     : cover;
		height              : rem-calc(250);
		margin-bottom       : rem-calc(15);
		color               : white;
		}

		.p-contents{
			padding       : 0;
			margin-bottom : rem-calc(15);
		}

		.p-cover{
			height: rem-calc(180);
		}

	}
}