//-------------------
// 変数
//-------------------

$test        : #4affff;

$coyo-bar-bg : #393939;

//-------------------
// 共通
//-------------------

.test{
	border : 1px solid $test;
	color  : black;
}

.height{
	height : 10rem;
}

//-------------------
// トップページ
//-------------------

.coyo-top{

	header{
		height: rem-calc(64);
	}

	nav{

		ul{
			border-right: 1px solid red;
			li{
				float : left;
				border-left: 1px solid red;
			}
		}

		a{
			display: inline-block;
			padding: rem-calc(20);
		}
	}

	h1{
		display   : inline-block;
		font-size : rem-calc(32);
		margin    : rem-calc(6) 0 0 rem-calc(15);
	}

	h2{
		display   : inline-block;
		font-size: rem-calc(16);
		margin    : rem-calc(6) 0 rem-calc(6) rem-calc(15);
	}

	.coyo-bar{
		background-color : $coyo-bar-bg;
		border-bottom    : 1px solid darken($coyo-bar-bg, 20%);
		color            : white;
		height           : rem-calc(32);

		a{
			color: white;

			&:hover{
				color: rgba(white, .5);
			}
		}

		i{
			display     : inline-block;
			text-align  : center;
			font-size   : rem-calc(14);
			width       : rem-calc(24);
			height      : rem-calc(16);
			padding-top : rem-calc(8);
		}
	}

	.coyo-news{

		table{
			margin-left: rem-calc(15);
			td{
				padding:0;
				font-size: 12px;
			}
		}

	}

	// メインコンテンツ
	//**********************
	.content-wrapper{

		.p-highlight{
		background-position : center center;
		background-size     : cover;
		height              : rem-calc(250);
		margin-bottom       : rem-calc(15);
		color               : white;
		}

		.p-contents{
			padding       : 0;
			margin-bottom : rem-calc(15);
		}

		.p-cover{
			height: rem-calc(180);
		}

	}
}