
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="./css/style.css">
<title>サイトタイトルです | EJS-sample</title>
<meta name="description" content="ここでサイト説明文を記入します">
</head>


<body>

<!-- 以下ちょい端折り... -->

<!-- content -->
<div id="content">
<div class="inner">

<p>トップページに出力すること</p>

</div><!-- /inner -->
</div><!-- /content -->
