<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="format-detection" content="telephone=no">
<link rel="stylesheet" href="<%= meta.path %>/css/style.css">
<title><%= meta.title %> | EJS-sample</title>
<meta name="description" content="<%= meta.desc %>">
</head>


<body>

<!-- 以下ちょい端折り... -->