h1 {
  color: darken(green, 10%);
  &:hover {
    color: blue;
  }
  // background-size: contain;
  font-size: 12px;
}

/*
---
name: base button
category: module/button
---
* Base button style.
* Use `a` or `button` tag.

```html
<a class="testeste">Button</a>
<a class="testeste">Button</a>
```
*/
.testeste {
	color: red;
}