<%
  var localmeta = {
    title: 'サイトタイトルです',
    desc: 'ここでサイト説明文を記入します',
    path: '.'
  };
%>
<%- include('common/_header', {meta: localmeta}); %>

<!-- content -->
<div id="content">
<div class="inner">

<p>トップページに出力すること</p>

</div><!-- /inner -->
</div><!-- /content -->
