@charset 'UTF-8';

@import 'var';
// @include mq() {
// 	body {
// 		background-color: red;
// 	}
// }

body {
	background-color: #ffffff;
	@include mq(sm) {
		background-color: blue;
	}
	@include mq() {
		background-color: red;
	}
	@include mq(lg) {
		background-color: green;
	}
	@include mq(xl) {
		background-color: yellow;
	}
}